.container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #87CEFA, #1E90FF);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 310px;
    text-align: center;
    
  }
  .content h3{
    font-size: 1rem;
  }
  .question {
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom:50px;
    background-color: black;
  }
  
  .question img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .attendance ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sun {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #FFD700;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.8);
  }
  
  .cloud {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cloud {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cloud:nth-child(1) {
    top: 40px;
    left: 10%;
  }
  
  .cloud:nth-child(1) .cloud:nth-child(1) {
    top: -20px;
    left: 20px;
  }
  
  .cloud:nth-child(1) .cloud:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  
  .cloud:nth-child(1) .cloud:nth-child(3) {
    top: 0px;
    left: 40px;
  }
  
  .cloud:nth-child(2) {
    top: 40px;
    right: 10%;
  }
  
  .cloud:nth-child(2) .cloud:nth-child(1) {
    top: -20px;
    left: 20px;
  }
  
  .cloud:nth-child(2) .cloud:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  
  .cloud:nth-child(2) .cloud:nth-child(3) {
    top: 0px;
    left: 40px;
  }
  
  .cloud:nth-child(3) {
    top: 80px;
    left: 30%;
  }
  
  .cloud:nth-child(3) .cloud:nth-child(1) {
    top: -20px;
    left: 20px;
  }
  
  .cloud:nth-child(3) .cloud:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  
  .cloud:nth-child(3) .cloud:nth-child(3) {
    top: 0px;
    left: 40px;
  }
  
  .cloud:nth-child(4) {
    top: 80px;
    right: 30%;
  }
  
  .cloud:nth-child(4) .cloud:nth-child(1) {
    top: -20px;
    left: 20px;
  }
  
  .cloud:nth-child(4) .cloud:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  
  .cloud:nth-child(4) .cloud:nth-child(3) {
    top: 0px;
    left: 40px;
  }
  

.button {
  padding: 8px 16px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
